//Variables for "current project" block
$current-border-alpha: 0.5;
$current-border-width: 5px;
$current-shadow-depth: 40px;
$current-shadow-alpha: 0.1;
$current-animation-time: 14s;
$disabled-color: #ff0000;
$private-color: #0026ff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//Variables in :root with colors for different themes
:root[data-theme="dark"] {
    --bg-color: #010a1e;
    --text-color: #f0f5fe;
    --primary-color: #fbdc98;
    --secondary-color: #000000;
    --accent-color: #f8ba35;
}
:root[data-theme="light"] {
    --bg-color: #edfcf4;
    --text-color: #000000;
    --primary-color: #b6b904;
    --secondary-color: #d8fdb4;
    --accent-color: #5bb904;
}
:root[data-theme="blue"] {
    --bg-color: #3d6eae;
    --text-color: #010401;
    --primary-color: #3f3e42;
    --secondary-color: #0f0f10;
    --accent-color: #4c4a4f;
}




//Row-flexing display template
%display-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
}




// Similar in the whole document special styles
.text {
    text-align: justify;
}
.title {
    text-align: center;
}
.small-title {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 5px;
    padding-bottom: 5px;
}




//Nav bar styles
header, body > img, button { //idk what is that. I think, it's this large image on entrance + theme changing button style...
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    background-color: var(--bg-color);
    border: var(--bg-color) 0px;
}
header > nav{ //Whole nav bar
    @extend %display-flex;
    border: var(--primary-color) solid 2px;
}
header > nav > a, main > div > a { //Links and nav bar styles
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    &:hover{
        color: var(--accent-color);
    }
}

.home-icon { //"Home" icon in nav
    flex: 1 1 content;
}
.nav-icon{ // all nav links
    flex-grow: 3;
}
.nav-icon:not(.last-icon), .home-icon { //Links except last dashed border style
    border-right: var(--primary-color) dashed 1px;
}





//Huge parts of document
body {
    transition: all 1s;
    margin: 0px;
    background-color: var(--bg-color);
    resize: both;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    color: var(--text-color);
    animation: entranceAnim 1s ease 0s 1 normal forwards;
}
main{
    margin-left: 20%;
    margin-right: 20%;
}




//Animations
@keyframes entranceAnim { //Animation for whole body while entering page
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes denyAnim { //Animation for .disabled projects while hovering cursor above them
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60% {
        transform: translateX(5px);
    }

    80% {
        transform: translateX(4px);
    }

    90% {
        transform: translateX(-4px);
    }
}

@keyframes shadowAnim { //Animation for "living shadow" beneath the image, for some unknown reason named "header-img" while being on the top of the main
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	50% {
		box-shadow: 40px 0 40px 0px rgba(0, 0, 0, 0.45);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes currentAnim { //Animation for "current project" block (glowing + border and glowing colors differenciating)
    0% {
        box-shadow: 0 0 $current-shadow-depth $current-shadow-depth rgba(#ff0000, $current-shadow-alpha);
        border-color: rgba(#ff0000, $current-border-alpha);
    }
    14% {
        box-shadow: 0 0 $current-shadow-depth $current-shadow-depth rgba(#ff8000, $current-shadow-alpha);
        border-color: rgba(#ff8000, $current-border-alpha);
    }
    28% {
        box-shadow: 0 0 $current-shadow-depth $current-shadow-depth rgba(#ffff00, $current-shadow-alpha);
        border-color: rgba(#ffff00, $current-border-alpha);
    }
    43% {
        box-shadow: 0 0 $current-shadow-depth $current-shadow-depth rgba(#00ff00, $current-shadow-alpha);
        border-color: rgba(#00ff00, $current-border-alpha);
    }
	57% {
		box-shadow: 0 0 $current-shadow-depth $current-shadow-depth rgba(#00ffff, $current-shadow-alpha);
        border-color: rgba(#00ffff, $current-border-alpha);
	}
    71% {
        box-shadow: 0 0 $current-shadow-depth $current-shadow-depth rgba(#0000ff, $current-shadow-alpha);
        border-color: rgba(#0000ff, $current-border-alpha);
    }
    86% {
        box-shadow: 0 0 $current-shadow-depth $current-shadow-depth rgba(#60c, $current-shadow-alpha);
        border-color: rgba(#60c, $current-border-alpha);
    }
    100% {
        box-shadow: 0 0 $current-shadow-depth $current-shadow-depth rgba(#ff0000, $current-shadow-alpha);
        border-color: rgba(#ff0000, $current-border-alpha);
    }
}




//Main block styles
//Image on entrance + theme changing button
#header-img { //Large image on entrance
    width: 100%;
    animation: shadowAnim 2s linear 0s infinite normal forwards;
}


//"About me" section
.aboutme {
    font-family: 'Courier New', Courier, monospace;
}


//"Technologies" secton
#technologies { //Main div
    justify-content: center;
}
#technology-lang, #technology-framework{ //Divs for languages and frameworks (differenciated, 'cause I want them to be on different level)
    @extend %display-flex;
}
.technology-card { //Cards-links to the technologies I am expirienced in
    margin: 10px;
    width: 100px;
    height: 100px;
    border: var(--accent-color) solid 2px;
    border-radius: 20px 10%;
}



//"Current project" section
#current-section { //Main div
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid $current-border-width;
    border-radius: 10%;
    margin: 0;
    padding: 0;
    animation: currentAnim $current-animation-time linear 0s infinite normal forwards;
}

.current-img { //image-link
    height: 600px;
}
.currrent { // Card with project
    margin: 10px;
    padding: 10px;
}



//"Projects" section
#projects-section { //Main div
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 6fr);
}
.project-card { //Cards-links to the projects I'va done
    position: relative;
    transition: all 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    margin: 20px;
    padding: 2px;
}
.project-card:not(.disabled) { //Cards-links to the projects I'va done
    border: var(--accent-color) solid 2px;
}
.project { //Similar to every card and it's parts style
    text-align: center;
    margin: 0;
    padding: 0;
}
.project-img { //Images-links of the projec cards
    object-fit: fill;
    height: 300px;  
}
.project-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(1px);
}
.project-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.text-decorator {
    background-color: aliceblue;
}


//Links section
#links-section { //Main div
    @extend %display-flex;
    flex-wrap: wrap;
}
.icon{ //Icons-links
    font-size: 50px;
}



// Special types of active cards and etc
// .active { //Normal active projects
//     transition: all 0.5s;
//     &:hover{
//         transform: scale(1.1);
//     }
// }
// .disabled {  //"Still in work" or "don't wanna show u" projectsz
//     border: $disabled-color solid 4px;
//     &:hover{
//         animation: denyAnim 0.5s ease 0s 1 normal forwards;
//     }
// }
// .private {//Projects not for pudlic usage
//     border: $private-color dashed 4px;
//     &:hover{
//         animation: denyAnim 0.2s ease 0s 1 normal forwards;
//     }
// }

.active:not(.project-card):hover { //Navigation bar cursor changing
    cursor: pointer;
}
.project-card > .active:hover { //Project cards' cursor changing
    cursor:none;
}



//Extra things
::-webkit-scrollbar {
    width: 0px;
}
/*::-webkit-scrollbar-track {
    //background: linear-gradient(90deg, var(--bg-color) 0%, var(--secondary-color) 100%);
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: radial-gradient( var(--primary-color) 28%, var(--secondary-color) 100%);
    &:hover{ 
        background: radial-gradient( var(--accent-color) 28%, var(--secondary-color) 100%);
    }
}*/