/* *{
    padding-top: 0px;
    margin-top: 0px;
}*/
:root[data-theme="dark"] {
  --bg-color: #010a1e;
  --text-color: #f0f5fe;
  --primary-color: #fbdc98;
  --secondary-color: #000000;
  --accent-color: #f8ba35; }

:root[data-theme="light"] {
  --bg-color: #edfcf4;
  --text-color: #000000;
  --primary-color: #b6b904;
  --secondary-color: #d8fdb4;
  --accent-color: #5bb904; }

:root[data-theme="blue"] {
  --bg-color: #3d6eae;
  --text-color: #010401;
  --primary-color: #3f3e42;
  --secondary-color: #0f0f10;
  --accent-color: #4c4a4f; }

header > nav, #technology-lang, #technology-framework, #links-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly; }

body {
  transition: all 1s;
  margin: 0px;
  background-color: var(--bg-color);
  resize: both;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--text-color);
  animation: entranceAnim 1s ease 0s 1 normal forwards; }

@keyframes entranceAnim {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes denyAnim {
  0%,
    100% {
    transform: translateX(0); }
  10%,
    30%,
    50%,
    70% {
    transform: translateX(-10px); }
  20%,
    40%,
    60% {
    transform: translateX(10px); }
  80% {
    transform: translateX(8px); }
  90% {
    transform: translateX(-8px); } }
@keyframes shadowAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  50% {
    box-shadow: 40px 0 40px 0px rgba(0, 0, 0, 0.45); }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } }
main {
  margin-left: 20%;
  margin-right: 20%; }

.active {
  transition: all 0.5s; }
  .active:hover {
    cursor: pointer;
    transform: scale(1.1); }

header, body > img, button {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  background-color: var(--bg-color);
  border: var(--bg-color) 0px; }

header > nav {
  border: var(--primary-color) solid 2px; }

header > nav > a, main > div > a {
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center; }
  header > nav > a:hover, main > div > a:hover {
    color: var(--accent-color); }

#header-img {
  width: 100%;
  animation: shadowAnim 2s linear 0s infinite normal forwards; }

.home-icon {
  flex: 1 1 content; }

.nav-icon {
  flex-grow: 3; }

.nav-icon:not(.last-icon), .home-icon {
  border-right: var(--primary-color) dashed 1px; }

.text {
  text-align: justify; }

.title {
  text-align: center; }

.small-title {
  font-family: 'Courier New', Courier, monospace;
  padding-top: 5px;
  padding-bottom: 5px; }

.aboutme {
  font-family: 'Courier New', Courier, monospace; }

#technologies {
  justify-content: center; }

#technology-lang {
  /*display:flex;
  flex-direction: row;
  flex-wrap: wrap;*/ }

.technology {
  margin: 10px;
  width: 100px;
  height: 100px;
  border: var(--accent-color) solid 2px;
  border-radius: 20px 10%; }

#projects-section {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 6fr); }

.project-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--accent-color) solid 1px;
  border-radius: 10%;
  margin: 20px;
  padding: 2px; }

.project {
  text-align: center;
  margin: 0%;
  padding: 0%; }

.project-img {
  object-fit: fill;
  height: 300px; }

#links-section {
  flex-wrap: wrap; }

.icon {
  font-size: 50px; }

::-webkit-scrollbar {
  width: 0px; }

/*::-webkit-scrollbar-track {
    //background: linear-gradient(90deg, var(--bg-color) 0%, var(--secondary-color) 100%);
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: radial-gradient( var(--primary-color) 28%, var(--secondary-color) 100%);
    &:hover{ 
        background: radial-gradient( var(--accent-color) 28%, var(--secondary-color) 100%);
    }
}*/

/*# sourceMappingURL=style.css.map */
